        <div class="mb-12 space-x-4 pr-4 text-sm text-slate-500">
            {{#foreach navigation}}
            <a href="{{url absolute="true"}}" class="hover:text-slate-600">{{label}}</a>
            {{/foreach}}
        </div>




