      <div class="nav flex justify-between text-sm font-light text-slate-600">
        <a {{#if prev}}href="{{page_url prev}}"{{else}}class="text-white"{{/if}}><i class="bi bi-arrow-return-left"></i></a>
        <a {{#if next}}href="{{page_url next}}"{{else}}class="text-white"{{/if}}><i class="bi bi-arrow-return-right"></i></a>
      </div>