{{!< default}}

        <article class="prose prose-sm prose-slate max-w-none text-slate-600 md:prose-base prose-a:text-sky-600 prose-a:no-underline hover:prose-a:text-sky-500 prose-ul:list-outside prose-table:border prose-th:border prose-th:p-2 prose-td:border prose-td:p-2 prose-img:rounded-xl prose-img:border">
            <img src="{{asset 'img/404.svg'}}" />
            <h2 class="text-center">Page Not Found</h2>
        </article>